{% extends 'base.html' %}
{% load static %}

{% block title %}
    Portfolio Elite Constructions
{% endblock title%}

{% block custom %}
    <style rel="stylesheet">
         {
            color:#333 !important;
            font-weight: 400 !important;
        }
        
    </style>

{% endblock %}

{% block content %}


<div class="container">
    {% if portfolio %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
                <div class="card mb-4 pl-2 pt-2">
                    <div class="card-body mb-2">
                        <h3 class="mb-4">Title</h3>
                        <p class="card-text text-dark text-justify" > 
                            {{portfolio.title }}
                        </p><br>
            
                         <h3 class="mb-4">Images</h3>
                            {% if portfolio.get_status %}
                                {% for i in portfolio.images.all %}
                                    <div class="col s6 m3 l3 xl3">
                                    
                                        <img class="card-img-top" src="{{i.image.url}}">
                                    </div>
                                {% endfor %}
                            {% endif %}  <br> 

                        
                        <h3 class="mb-4">Status</h3>
                         <p class ="card-text text-dark text-justify">
                         {{portfolio.status}}
                         </p><br>

                        <h3 class="mb-4">Description</h3>
                        <p class="card-text text-dark text-justify" > 
                            {{portfolio.description | safe}}
                        </p><br>


                            <div class="form-group text-center" >
                                
                                <a href="{% url 'update_portfolio' portfolio.id %}" class="btn btn-primary text mt-3 mt-3 ml-3">
                                    Update
                                </a>
                            </div> 
                       
                    </div>
                </div>
                
            </div>
        </div>
   {% endif %}
   
</div>

{% endblock content %}
