{% extends 'base.html' %}

{% block title %}
    Update Features - Elite Constructions
{% endblock title%}


{% block custom %}
    <script  src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js">
    </script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 d-flex">
            {% comment %} <a href="{% url 'terms_and_conditions' %}"> {% endcomment %}
                <h4 class=" mb-4">Features </h4>
            </a> 
            <h5>
                &nbsp;/&nbsp;Update Features details   
            </h5>
            
        </div>
    </div>

    {% if feature  %}
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
         <div class="card mb-4 pl-2 pt-2">
            <div class="card-body mb-2">
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-group">
                        <label 
                            for="title" 
                            class="mt-1">
                            Title
                        </label>
                        <input 
                            type="text" 
                            name="title" 
                            id="title"
                            value="{{feature.title}}"
                            tabindex="1" 
                            class="form-control"
                            autocomplete="title" >
                            
                    </div>

                    <div class="form-group">
                        <label for="description">Descriptions</label>
                        <textarea 
                            name="description" 
                            rows="30" 
                            cols="80" 
                            id="description" 
                            class="form-control"
                            tabindex="2"
                            required 
                            >{{feature.description}}</textarea>
                        <script>
                            CKEDITOR.replace( "description" );
                        </script>
                    </div>

                    <div class="form-group">
                        <label for="image">
                            Image:
                            <a href="/media/{{feature.image}}">
                            {{feature.image}}
                            </a> 
                        </label>
                        <input 
                            type="file" 
                            class="form-control" 
                            name="image" 
                            id="image"
                            tabindex="3"
                            required>
                    </div>


                    <div class="form-group text-center">
                        <input 
                            type="submit" 
                            class="btn btn-primary btn-sm mt-4 pl-3 pr-3 text-center" 
                            value="Update">
                    </div>
                
                </form>
            </div>
         </div>
         
      </div>
   </div>
   {% endif %}
  

</div>

{% endblock content %}